<div class="container">
    <div class="row">

        <div class="col-6">
            <div [hidden]="submitted">
                <h1>Employee Form</h1>

                <form (ngSubmit)="saveEmployee(model)" #formDir="ngForm" [formGroup]="employeeForm">


                    <div class="row" style="margin-top: 10px;" *ngIf="showInputId">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">
                            &nbsp ID </div>
                        <div class="col-xs-12 pull-right">
                            <input class="form-control" type="text" required uuid="id" formControlName="id" [(ngModel)]="model.id" ngModel>
                            <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">

                                <div *ngIf="id.errors.required">
                                    Nhập đầy đủ.
                                </div>
                                <div *ngIf="id.errors.minlength">
                                    Lớn hơn 4
                                </div>
                                <div *ngIf="id.errors.forbiddenName">
                                    Name cannot be Bob-->
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">FirstName</div>

                        <div class="col-xs-12 pull-right">
                            <input class="form-control" type="text" required id="firstName" formControlName="firstName" [(ngModel)]="model.firstName" ngModel>
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">

                                <div *ngIf="firstName.errors.required">
                                    Nhập thông tin đầy đủ
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">LastName</div>

                        <div class="col-xs-12 pull-right">
                            <input type="text" class="form-control" required id="lastName" formControlName="lastName" [(ngModel)]="model.lastName" ngModel>
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">

                                <div *ngIf="lastName.errors.required">
                                    Nhập thông tin đầy đủ
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">Genderrr </div>

                        <div class="col-xs-12 pull-right">
                            <select class="form-control" required id="gender" formControlName="gender" required [(ngModel)]="model.gender" name="gender" required ngModel>
                      <option  [value]=true>Nam</option>
                      <option [value]=false>Nữ</option>
                    </select>

                            <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">

                                <div *ngIf="gender.errors.required">
                                    Nhập thông tin đầy đủ
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">Phoneee </div>

                        <div class="col-xs-12 pull-right">
                            <input class="form-control" type="number" required id="phone" formControlName="phone" [(ngModel)]="model.phone" ngModel>

                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">

                                <div *ngIf="phone.errors.required">
                                    Nhập thông tin đầy đủ
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">Adressss </div>

                        <div class="col-xs-12 pull-right">
                            <input class="form-control" required type="text" id="address" formControlName="address" [(ngModel)]="model.address" ngModel>

                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">

                                <div *ngIf="address.errors.required">
                                    Nhập thông tin đầy đủ
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">Salaryyy </div>

                        <div class="col-xs-12 pull-right">
                            <input class="form-control" type="number" id="salary" formControlName="salary" [(ngModel)]="model.salary" required ngModel>

                            <div *ngIf="salary.invalid && (salary.dirty || salary.touched)" class="alert alert-danger">

                                <div *ngIf="salary.errors.required">
                                    Nhập thông tin đầy đủ
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-3" style="margin-right: 10px;margin-top: 10px">Responsibilities</div>

                        <div class="col-xs-12 pull-right">
                            <select class="form-control" lass="form-control" id="responsibilities" formControlName="responsibilities" required [(ngModel)]="model.responsibilities" name="responsibilities" ngModel>
                        <option  [value]="Manager">Manager</option>
                        <option *ngFor="let pow of responsibilitie" [value]="pow">{{pow}}</option>
                    </select>

                            <div *ngIf="responsibilities.invalid && (responsibilities.dirty || responsibilities.touched)" class="alert alert-danger">

                                <div *ngIf="responsibilities.errors.required">
                                    Nhập thông tin đầy đủ
                                </div>

                            </div>
                        </div>
                    </div>



                    <div *ngIf="showInputId">
                        <button type="submit" class="btn btn-success" [disabled]="!employeeForm.valid">Submit</button>
                    </div>
                    <div *ngIf="!showInputId">
                        <button type="submit" class="btn btn-success" [disabled]="formDir.valid">Update</button>
                    </div>




                </form>

            </div>
        </div>
    </div>
    <div class="col-sm">kskk</div>
</div>