.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.selected {
    background-color: #ffc;
}